:root{
    --pink:#e84393;
    --background:rgba(255, 51, 153,.05);
    --color-fontsize:#333;
    --ligth:#fff;
    --shadow:rgba(0,0,0,.1);
    --color-p:#999;
    --background-icon:#eee;
    --color-fontsize-icon:#555;
    --border-cart-bnt:#fff7;
    --color-fontsize-price:#999;

    /* --header-logo-e-price: font-weight: bolder;
    --price: font-weight: lighter; */







}